.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  font-family: "BIZ UDPGothic", "Noto Sans JP"; "Noto Sans CJK JP"; sans-serif;
}


h1.title {
  font-weight: bold;
}


h2 {
  font-weight: bold;
}

.reveal .slide {
  font-family: "BIZ UDPGothic", "Noto Sans JP"; "Noto Sans CJK JP"; sans-serif;
}

sup {
  font-size: 70% !important;
}

.reveal section img {
  margin: auto;
  border: none;
  width: auto;
  height: auto;
  max-height: 560px;
}

